.App {
  margin: 2vw;
  padding: 4vw;
  border: solid white 2px;
  border-radius: 10px;
}

ul {
  text-align: left;
}

form {
  text-align: center;
  height: 3vw;
}
input {
  border: solid white 2px;
  font-size: 2vw;
  outline: none;
  width: 40vw;
  height: 100%;
}

button {
  border: solid white 2px;
  font-size: 2vw;
  outline: none;
  font-weight: bold;
  border-width: 3px;
  margin-left: 1vw;
  height: 100%; 
}

button:hover {
  box-shadow: 5px 5px 8px white;
  cursor: pointer;
}

ol li {
  margin: 0.5vw;
  color: white;
  font-size: 2vw;
}

h1 {
  color: white;
}

